#main {
    position: absolute;
}

#main > #images {
    padding-left: 32vw;
    padding-top: 10vw;
    position: relative;
    align-content: center;

}


#steen:hover {
    scale: 120%;

}

#papier:hover {
    scale: 120%;
}

#schaar:hover {
    scale: 120%;
}

#output > div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 200px;
}

div > .output-img {

}

img {
    padding: 4px;
    max-width: 100%;
}

