#main {
    position: absolute;
}

#main > div {
    padding-left: 32vw;
    padding-top: 10vw;
    position: relative;
    align-content: center;
}


#steen:hover {
    scale: 120%;

}

#papier:hover {
    scale: 120%;
}

#schaar:hover {
    scale: 120%;
}

#output > div {
}

div > .output-img {
    width: 400px;
    float: left;

}

img {
    padding: 4px;
}

